{{#attr-show}}
    {{#if name}}{{../../name}}{{/if}}
    {{#if title}}{{../../title}}{{/if}}
    {{#if author}}{{../../author}}{{/if}}
    {{#if description}}{{../../description}}{{/if}}
    {{#if price}}{{../../price}}{{/if}}
{{/attr-show}}
<button type="button" class="edit-book">edit</button>
<button type="button" class="remove-book">remove</button>
