<tr class="edit-book">>
    {{#attr-show}}
        {{#if name}}<td>{{../../name}}</td>{{/if}}
        {{#if title}}<td>{{../../title}}</td>{{/if}}
        {{#if author}}<td>{{../../author}}</td>{{/if}}
        {{#if description}}<td>{{../../description}}</td>{{/if}}
        {{#if price}}<td>{{../../price}}</td>{{/if}}
    {{/attr-show}}
    <td class="remove-book"></td>
</tr>
