<tr class="edit-book">>
    {{#attr-show}}
        {{#if name}}<td>{{../../name}}</td>{{/if}}
        {{#if title}}<td>{{../../title}}</td>{{/if}}
        {{#if author}}<td>{{../../author}}</td>{{/if}}
        {{#if description}}<td>{{../../description}}</td>{{/if}}
        {{#if price}}<td>{{../../price}}</td>{{/if}}
        <td class="remove-book"></td>
    {{/attr-show}}
<!--<button type="button" class="edit-book">edit</button>-->
<!--<button type="button" class="remove-book">remove</button>-->
</tr>
