{{#attr-show}}
  {{#if name}}<td style="width: {{width}};">{{short ../../name}}</td>{{/if}}
  {{#if title}}<td style="width: {{width}};">{{short ../../title}}</td>{{/if}}
  {{#if author}}<td style="width: {{width}};">{{short ../../author}}</td>{{/if}}
  {{#if description}}<td style="width: {{width}};">{{short ../../description}}</td>{{/if}}
  {{#if price}}<td style="width: {{width}};">{{../../price}}</td>{{/if}}
{{/attr-show}}
<td class="remove-book"></td>

