<!--<button type="button" class="add-book">Add Book</button>-->
<table class="table-head">
  <tr>
    {{#attr-show}}
      {{#if name}}<td style="width: {{width}};">Name</td>{{/if}}
      {{#if title}}<td style="width: {{width}};">Title</td>{{/if}}
      {{#if author}}<td style="width: {{width}};">Author</td>{{/if}}
      {{#if description}}<td style="width: {{width}};">Description</td>{{/if}}
      {{#if price}}<td style="width: {{width}};">Price</td>{{/if}}
    {{/attr-show}}
    <td class="add-book"></td>
  </tr>
</table>
<table id="books-container"></table>
